.left-image{
  width: 750px;
  float: left;
  margin-right: 10px;
}

.right-image{
  width: 250px;
  float: left;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.comp-image{
  width: 550px;
  border: 1px solid;
  margin: 0px;
  vertical-align: middle;
  margin-bottom: 30px;
}

.navsmall {
  font-size: xx-large;
  text-align: center;
  vertical-align: middle;
  font-weight: 100;
  font-family:'Avenir', 'Times New Roman', Times, serif;
}

.navbar-brand {
  font-size: xx-large;
  text-align: center;
  vertical-align: middle;
  font-weight: 100;
  font-family:'Avenir', 'Times New Roman', Times, serif;
}

.blue-title {
  font-weight: 600;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.blue-title-center {
  font-weight: 600;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.container-fluid{
  height: auto;

}

.container-fluid-lower{
  height: auto;
}

.white-header {
  font-weight: 300;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.centdrop {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
