<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Project 4 Site</title>

    

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand navsmall" href="home"> <i class="fa fa-car" aria-hidden="true"></i> Car Auctions</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="search">
              <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>
              <span class="sr-only">Loading...</span>
              Car Price Calculator</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  href="graphs"><i class="fa fa-bar-chart" aria-hidden="true"></i>
              Visualizations</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="data"> <i class="fa fa-database" aria-hidden="true"></i>
              Data</a>
          </li> 
          
        </ul>
      </div>
    </div>
  </nav>

    <div class="container-fluid-lower">
      <div class="container">
        <hr>
        <h1 class="blue-title-center"> Car Price Calculator </h1>
        <hr>
        INSTRUCTIONS:
        <br>
        1. Fill out fields for make, year, engine capacity (cc), mileage, and clean carfax report
        <br>
        2. Click Submit
        <br>
        <br>
        Note: If make is not listed in the dropdown, choose 'Other'.
        <hr>
        <div class="row">

            <div class = "col-md-12">

              <form method="POST" action="/search" role="form", name="carform">   
                
                <!-- drop down for Car Make -->
                <h4 class="white-header" for="inputMake">Make</h4>
                <select class= "centdrop" name="inputMake" id="inputMake">
                  <option value="Select Make">Select Make</option>
                  <option value="Acura">Acura</option>
                  <option value="AlfaRomero">AlfaRomero</option>
                  <option value="AstonMartin">AstonMartin</option>
                  <option value="Audi">Audi</option>
                  <option value="Austin_Healey">Austin_Healey</option>
                  <option value="Bentley">Bentley</option>
                  <option value="BMW">BMW</option>
                  <option value="Buick">Buick</option>
                  <option value="Cadillac">Cadillac</option>
                  <option value="Chevrolet">Chevrolet</option>
                  <option value="Datsun">Datsun</option>
                  <option value="Dodge">Dodge</option>
                  <option value="Ferrari">Ferrari</option>
                  <option value="Fiat">Fiat</option>
                  <option value="Ford">Ford</option>
                  <option value="GMC">GMC</option>
                  <option value="Honda">Honda</option>
                  <option value="InternationalHarvester">InternationalHarvester</option>
                  <option value="Jaguar">Jaguar</option>
                  <option value="Jeep">Jeep</option>
                  <option value="Land Rover">Land Rover</option>
                  <option value="Lexus">Lexus</option>
                  <option value="Lincoln">Lincoln</option>
                  <option value="Lotus">Lotus</option>
                  <option value="Mazda">Mazda</option>
                  <option value="Mercedes-Benz">Mercedes-Benz</option>
                  <option value="MG">MG</option>
                  <option value="Mini">Mini</option>
                  <option value="Nissan">Nissan</option>
                  <option value="Oldsmobile">Oldsmobile</option>
                  <option value="Pontiac">Pontiac</option>
                  <option value="Porsche">Porsche</option>
                  <option value="Saab">Saab</option>
                  <option value="Shelby">Shelby</option>
                  <option value="Toyota">Toyota</option>
                  <option value="Triumph">Triumph</option>
                  <option value="Volkswagen">Volkswagen</option>
                  <option value="Volvo">Volvo</option>
                  <option value="Other">Other</option>
                </select>
                
                <br>

                <!-- drop down for Car Year -->
                <h4 class="white-header" for="inputYear">Year</h4>
                <select class= "centdrop" name="inputYear" id="inputYear">
                  <option value="Select Date">Select Date</option>
                  <option value="1920">1920</option> <option value="1921">1921</option> <option value="1922">1922</option> <option value="1923">1923</option>
                  <option value="1924">1924</option> <option value="1925">1925</option> <option value="1926">1926</option> <option value="1927">1927</option>
                  <option value="1928">1928</option> <option value="1929">1929</option>
                  <option value="1930">1930</option> <option value="1931">1931</option> <option value="1932">1932</option> <option value="1933">1933</option>
                  <option value="1934">1934</option> <option value="1935">1935</option> <option value="1936">1936</option> <option value="1937">1937</option>
                  <option value="1938">1938</option> <option value="1939">1939</option>
                  <option value="1940">1940</option> <option value="1941">1941</option> <option value="1942">1942</option> <option value="1943">1943</option>
                  <option value="1944">1944</option> <option value="1945">1945</option> <option value="1946">1946</option> <option value="1947">1947</option>
                  <option value="1948">1948</option> <option value="1949">1949</option>
                  <option value="1950">1950</option> <option value="1951">1951</option> <option value="1952">1952</option> <option value="1953">1953</option>
                  <option value="1954">1954</option> <option value="1955">1955</option> <option value="1956">1956</option> <option value="1957">1957</option>
                  <option value="1958">1958</option> <option value="1959">1959</option>
                  <option value="1960">1960</option> <option value="1961">1961</option> <option value="1962">1962</option> <option value="1963">1963</option>
                  <option value="1964">1964</option> <option value="1965">1965</option> <option value="1966">1966</option> <option value="1967">1967</option>
                  <option value="1968">1968</option> <option value="1969">1969</option>
                  <option value="1970">1970</option> <option value="1971">1971</option> <option value="1972">1972</option> <option value="1973">1973</option>
                  <option value="1974">1974</option> <option value="1975">1975</option> <option value="1976">1976</option> <option value="1977">1977</option>
                  <option value="1978">1978</option> <option value="1979">1979</option>
                  <option value="1980">1980</option> <option value="1981">1981</option> <option value="1982">1982</option> <option value="1983">1983</option>
                  <option value="1984">1984</option> <option value="1985">1985</option> <option value="1986">1986</option> <option value="1987">1987</option>
                  <option value="1988">1988</option> <option value="1989">1989</option>
                  <option value="1990">1990</option> <option value="1991">1991</option> <option value="1992">1992</option> <option value="1993">1993</option>
                  <option value="1994">1994</option> <option value="1995">1995</option> <option value="1996">1996</option> <option value="1997">1997</option>
                  <option value="1998">1998</option> <option value="1999">1999</option>
                  <option value="2000">2000</option> <option value="2001">2001</option> <option value="2002">2002</option> <option value="2003">2003</option>
                  <option value="2004">2004</option> <option value="2005">2005</option> <option value="2006">2006</option> <option value="2007">2007</option>
                  <option value="2008">2008</option> <option value="2009">2009</option>
                  <option value="2010">2010</option> <option value="2011">2011</option> <option value="2012">2012</option> <option value="2013">2013</option>
                  <option value="2014">2014</option> <option value="2015">2015</option> <option value="2016">2016</option> <option value="2017">2017</option>
                  <option value="2018">2018</option> <option value="2019">2019</option>
                  <option value="2020">2020</option> <option value="2021">2021</option><option value="2022">2022</option> <option value="2022">2022</option>
                </select>
            
                <br>

                <!-- <div class="col-md-12" -->
                <!-- drop down for Car Engine -->
                <h4 class="white-header" for="inputEngine">Engine Capacity (cc)</h4>
                <input type="text" class="form-control" id="inputEngine" name="inputEngine" placeholder="Engine Capacity (cc)" style="width: 200px" object-align="center">

                <br>

                <!-- drop down for Car Mileage -->
                <h4 class="white-header" for="inputMileage">Mileage</h4>
                <input type="text" class="form-control" id="inputMileage" name="inputMileage" placeholder="Mileage" style="width: 200px">

                <br>

                <h4 class="white-header" for="inputCarfax">Does it have a clean carfax report?</h4>
                <select class= "centdrop" name="inputCarfax" id="inputCarfax">
                  <option value="Yes/No">Yes/No</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>

                <br>

                <div style="text-align:center">
                  <input type="submit" value="Submit" class="btn btn-primary">
                </div>
                
                <br>

              </form>

            </div>

              <h2 class="white-header">
                
                  <div class="prediction">
                    {% if prediction %}
                    Your predicted price is: {{prediction}}
                  </div>
                  <!-- To do later: show what you inputed
                  Car Make: {{make}}
                  Car Year: {{year}}
                  Car Engine Capacity: {{engine}}
                  Car Mileage: {{mileage}} -->
                {% endif %}
        
              </div>

            

      </div>
    </div>
</body>

</html>